// COLOR 
// #f56612
$color-primary:#72d161;
$color-primary-light:#55c57a;
$color-primary-dark: #20926c;

$color-incorrect-from: #ff7730;

$color-secondary-light: #80ffff;
$color-secondary-dark: #00cccc;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark:#777;
$color-grey-darker:#999;
$color-grey-darkest:#333;

$color-white:#fff;
$color-black:#000;

// FONT 
$default-font-size:1.6rem;

// GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:5rem; 